.recipesContainer {
display: flex;
flex-direction: row;
flex-wrap: wrap;
border: 1px solid black;
border-radius: 15px;
gap: 1em;
};

.filters{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 100%
}