@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

  .logoContainer {
    flex-grow: 1;
    width: 100px;
    height: 100px;
   
  }
  
  .logoContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .navLinks {
    justify-content: space-around;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  
  }
  
  .navLinks li {
    margin-right: 0;
    list-style: none;
    margin-left: 1rem; 
  }
  
  .navLinks a {
    text-decoration: none;
    font-size: 34px;
    margin-top: 80px;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: 'Sigmar', cursive;
    transition: all 0.3s ease;
    
  }

  .navLinks a:hover{
    color: #f9b208;
  }

 
  